<mat-sidenav-container>
    <mat-sidenav #appDrawer mode="over" opened="false" [ngStyle]="{'position': 'fixed'}">
        <mat-nav-list>
            <app-sidenav *ngFor="let item of navItems" [item]="item"></app-sidenav>
        </mat-nav-list>
    </mat-sidenav>
    <app-top-nav fxHide.xs></app-top-nav>
    <router-outlet></router-outlet>
    <div fxFlex></div>
</mat-sidenav-container>